body {
  background-color: lightblue;
}

h1 {
  color: maroon;
  text-align: center;
}

p {
  position: relative;
  text-align: center;
}

footer {
  text-align: right;
}

.gameList:hover .games {
  display: block;
}

.games {
  display: none;
  text-emphasis-color: red;
  padding: 20px;
}
